body {
  margin: 0;
  background-color: #494949;
}

.header {
  padding: 20px 0 20px;
}

.container {
  max-width: 1860px;
  margin: 0 auto;
  padding: 0 30px;
}

.header__row {
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: space-between;
}
